In [1]:
import pandas as pd

In [20]:
df = pd.read_csv("titanic.csv")

In [21]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [22]:
inputs = df[['Pclass', 'Sex', 'Age', 'Fare']]

In [41]:
target = df.Survived

In [42]:
inputs

     Pclass   Age     Fare  le_sex
0         3  22.0   7.2500       1
1         1  38.0  71.2833       0
2         3  26.0   7.9250       0
3         1  35.0  53.1000       0
4         3  35.0   8.0500       1
..      ...   ...      ...     ...
886       2  27.0  13.0000       1
887       1  19.0  30.0000       0
888       3   NaN  23.4500       0
889       1  26.0  30.0000       1
890       3  32.0   7.7500       1

[891 rows x 4 columns]

In [43]:
target

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

### label encoding for categorical variables

In [26]:
from sklearn.preprocessing import LabelEncoder

In [27]:
le_sex = LabelEncoder()

In [28]:
inputs['le_sex'] = le_sex.fit_transform(df['Sex'])

C:\Users\HP\AppData\Local\Temp\ipykernel_6140\822119643.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inputs['le_sex'] = le_sex.fit_transform(df['Sex'])

In [29]:
inputs

     Pclass     Sex   Age     Fare  le_sex
0         3    male  22.0   7.2500       1
1         1  female  38.0  71.2833       0
2         3  female  26.0   7.9250       0
3         1  female  35.0  53.1000       0
4         3    male  35.0   8.0500       1
..      ...     ...   ...      ...     ...
886       2    male  27.0  13.0000       1
887       1  female  19.0  30.0000       0
888       3  female   NaN  23.4500       0
889       1    male  26.0  30.0000       1
890       3    male  32.0   7.7500       1

[891 rows x 5 columns]

In [36]:
inputs = inputs.drop('Sex',axis='columns')

### model fitting and prediction in normal way

In [37]:
from sklearn import tree

In [44]:
model = tree.DecisionTreeClassifier()

In [45]:
inputs

     Pclass   Age     Fare  le_sex
0         3  22.0   7.2500       1
1         1  38.0  71.2833       0
2         3  26.0   7.9250       0
3         1  35.0  53.1000       0
4         3  35.0   8.0500       1
..      ...   ...      ...     ...
886       2  27.0  13.0000       1
887       1  19.0  30.0000       0
888       3   NaN  23.4500       0
889       1  26.0  30.0000       1
890       3  32.0   7.7500       1

[891 rows x 4 columns]

In [47]:
model.fit(inputs,target)

DecisionTreeClassifier()

In [50]:
model.predict([[3,26.0,7.9250,0]])

C:\Users\HP\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [51]:
model.score(inputs,target)

0.867564534231201

### model fitting and prediction using train_test_split

In [59]:
from sklearn.model_selection import train_test_split

In [60]:
X_train, X_test,y_train,y_test = train_test_split(inputs,target,test_size=0.2)

In [61]:
X_train

     Pclass   Age     Fare  le_sex
159       3   NaN  69.5500       1
468       3   NaN   7.7250       1
805       3  31.0   7.7750       1
219       2  30.0  10.5000       1
121       3   NaN   8.0500       1
..      ...   ...      ...     ...
833       3  23.0   7.8542       1
817       2  31.0  37.0042       1
185       1   NaN  50.0000       1
767       3  30.5   7.7500       0
567       3  29.0  21.0750       0

[712 rows x 4 columns]

In [62]:
model = tree.DecisionTreeClassifier()

In [63]:
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [64]:
model.predict(X_test)

array([0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0,
       1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 1], dtype=int64)

In [58]:
 model.score(X_train,y_train)

0.8539325842696629